<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if(login) { %>
        <h2>Please login into Your Account!</h2>
    <% } else { %> 
        <h2>Please Create A new account!</h2>
    <% } %>

    <form action="/users/auth" method="post" class="form">
        <div class="input_box">
            <label for="username">Username:</label>
            <input type="text" required placeholder="Username" id="username" name="username">
        </div>
        <div class="input_box">
            <label for="password">Password:</label>
            <input type="password" required placeholder="Password" id="password" name="password">
        </div>
        <% if(!login) { %>
            <div class="input_box">
                <label for="confirmpassword">Confirm password:</label>
                <input type="password" required placeholder="confirmpassword" id="confirmpassword" name="confirmpassword">
            </div>
        <% } %>
        <button type="submit">
            <% if(login) { %>
                Login
            <% } else { %> 
                SignUp
            <% } %>
        </button>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    </form>
</body>
</html>